<div class="row mb-3">
  <div
  class="col-md-12"
  *ngFor="let bookEl of myBooks; let i = index"
  >
    <app-book [book]="bookEl" [idx]="i"></app-book>

    <button
    class="btn btn-primary"
    (click)="onNewBook()"
    >Add New Book</button>

    <button
      class="float-right"
      style="border: none; font-size: 16px"
      (click)="onRemoveBook(i)"
    >
      &minus; </button>
    </div>
  </div>









<!--
  (bookSelected)="handleBookSelected(bookEl)"

  <div class="float-left">
  <h4 class="list-group-item-heading">{{ book.title }}</h4>
  <p class="list-group-item-text mb-0">{{ book.genre }}</p>
</div>
<div class="float-right">
  <img
    src="{{ book.coverImagePath }}"
    alt="{{ book.title }}"
    class="img-responsive rounded"
    style="max-height: 50px"
  />
</div>


   <a href="#" class="list-group-item clearfix">


        <div class=" float-left">
          <h4 class="list-group-item-heading">{{ book.title }}</h4>
          <p class="list-group-item-text mb-0">{{ book.genre }}</p>
        </div>

        <div class="float-right">
          <img
          src="{{ book.coverImagePath }}"
          alt="{{ book.title }}"
          class="img-responsive rounded"
          style="max-height: 50px"
        />
        </div>



    </a>


    <hr />

<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary">Add New Book</button>
  </div>
</div>
-->
